In [ ]:
df = pd.read_csv("C:\Users\gaurs\Downloads\housing.csv")
print(df)

In [ ]:
#INTRODUCTION: This is the california housing data.By analysing this data we will 
#determine the approximate price for the houses.The main aim of this dataset is to predict the median house prices for california.

In [ ]:
#FEATURES:

#1.longitude:A measure of distance a house is located horizontally that is from west to east,a higher
 #value is further towards west. it comes under numerical data type, i.e.,Continuous data.

#2.latitude:A measure of distance a house is located vertically that is towards north,a higher value is 
#further towards north.it comes under numerical data type, i.e.,Continuous data

#3.housing_median_age:It is Median age of a house. It 
#is of quantitative datatype,i.e.,Continuous data.

#4.total_rooms:Total number of rooms within a block. It
 #is of quantitative data type,i.e.,discrete data.

#5.total_bedrooms:Total number of bedrooms within a block. 
 #It is of quantitative data type,i.e.,discrete data.

#6.population:Total number of people residing within a block. 
#It is of quantitative data type,i.e.,discrete data.

#7.households:Total number of households,a group of people residing within a 
#homeunit.It is of quantitative data type,i.e.,discrete data.

#8.median_income:Median income of households within a block of houses.
#It comes under continuous data.

#9.median_house_value:Median house value for households within a block
#(measured in US Dollars).It comes under continuous data.

#10.Ocean_proximity:Location of the house with respect to ocean. 
#It is of categorical data i.e.,it is of nominal data type.

In [ ]:
from google.colab import files
uploaded=files.upload()

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df= pd.read_csv("housing.csv")
df

In [ ]:
df.shape #shape func() gives us the total number of rows and columns present in a dataset.

In [ ]:
df.dtypes #The dtype() function is used to create a data type object.

In [ ]:
#1.What is the average median income of the data set and check the distribution of data using appropriate plots? Please explain the distribution of the plot.
df['median_income'].mean() #mean()function gives the mean of the values

In [ ]:
#As can be seen from the code above, this dataset's average median income is 3.8706, or 3.9.

In [ ]:
df.hist(bins=40,figsize=(16,16)) ##Histogram is used to see the distribution of a numerical value
plt.show()

In [ ]:
#From the above plot, it can be seen that the housing_median_age and the median_house_value both have outliers,
#whereas the total_rooms, total_bedrooms, population, households , and median_income are all right-skewed.
#While being highly asymmetric, latitude and logitude are.

In [ ]:
#2.Draw an appropriate plot for housing_median_age and explain your observations.
plt.hist(df["housing_median_age"],color='b')   
plt.title("housing_median_age- Histogram plot")     # x-axis=housing_median_age,y-axis=Frequencies 
plt.xlabel("housing_median_age")
plt.ylabel("Frequencies")
plt.grid(True)
plt.show()

In [ ]:
#From the above hist plot we  come to the analysis that it is distributed symmetrically.
#we can know the skewness of the above plot by using :Skewed =3*(mean-median)/std()
df['housing_median_age'].mean()

In [ ]:
df['housing_median_age'].median()

In [ ]:
df['housing_median_age'].std()

In [ ]:
Skewed=3*(28.63-29.0)/12.58
Skewed

In [ ]:
#The above plot's skewness is 0.08, which ranges from -0.5 to -0.1. Last but not least, it should be noted that the housing
# median age is perfectly symmetrical based on the visualisation plot and the Skewness.

In [ ]:
 #3. Show with the help of visualization, how median_income and median_house_values are related?
 sns.scatterplot(x="median_house_value",y="median_income",data=df,color = 'b') #scatter plot gives a relation between two numerical values.
                                                                #x-axis median_house_value  #Y axis median_income

In [ ]:
#From the above visualisation it is to be analysed that with an increase in the median_house_value there is also an increase in
#the median income.While,an outlier is present in median_house_value which is shown in the fig.Therefore,median_house_value is
#directly proportional to median income.

In [ ]:
#4.Create a data set by deleting the corresponding examples from the data set for which total_bedrooms are not available.
df[df.isnull().any(axis=1)] #The isnull() method returns a DataFrame object where all the values are 
                            #replaced with a Boolean value True for NULL values, and otherwise False.
                            #Here missing values are denoted by NaN

In [ ]:
#In the above code,missing values are identified by using isnull()method.This missing values are identified in the column 'total_bedrooms'.

In [ ]:
new_data=df.dropna(subset=["total_bedrooms"])#dropna() method allows the user to analyze and drop Rows/Columns with Null values in different ways.
new_data

In [ ]:
#While in the above code the missing values are dropped from the column named'total_bedrooms'by using dropna() method.

In [ ]:
#5.Create a data set by filling the missing data with the mean value of the total_bedrooms in the original data set.

In [ ]:
df["total_bedrooms"]=df["total_bedrooms"].fillna(df['total_bedrooms'].mean())
df

In [ ]:
#In the preceding code, a new dataset was created in which the missing values in the 'total bedrooms,' denoted by NaN,
# were replaced with the mean value of the 'total bedrooms.'

In [ ]:
#6.Write a programming construct to calculate the median value of the data set wherever required.

In [ ]:
#A median for a dataframe can be known by using: df['column_name'].median()

In [ ]:
df['longitude'].median() #median function() gives the median value that is 50th percentile of the set of all observations.

In [ ]:
df['housing_median_age'].median()

In [ ]:
df['total_rooms'].median()

In [ ]:
df['total_bedrooms'].median()

In [ ]:
df['population'].median()

In [ ]:
df['households'].median()

In [ ]:
df['median_income'].median()

In [ ]:
df['median_house_value'].median()

In [ ]:
#7.Plot latitude versus longitude and explain your observations.

In [ ]:
sns.scatterplot(x='latitude',y='longitude',data=df, color = 'r')  #Scatter plot gives a relationship between two numerical values.
                                                     #x-axis = latitude #y-axis = longitude

In [ ]:
#From the above plot, it is clear that as longitude decreases, latitude increases.
#It is important to understand that latitude and longitude are not mutually exclusive. 
#We can conclude that longitude is inversely proportional to latitude.

#From the above plot, it is clear that as longitude decreases, latitude increases.
#It is important to understand that latitude and longitude are not mutually exclusive. 
#We can conclude that longitude is inversely proportional to latitude.

In [ ]:
#8.Create a data set for which the ocean_proximity is Near ocean.

In [ ]:
new_data=df.loc[df["ocean_proximity"]=="NEAR OCEAN"] # loc is an label based method which is used to select rows and columns by Names/Labels.
new_data                                             #loc is an essential pandas methods used for filtering ,selecting and manipulating the data.

In [ ]:
#9.Find the mean and median of the median income for the data set created in question 8.
new_data['median_income'].mean() #mean() gives the averages of the data

In [ ]:
new_data['median_income'].median() #median()value gives the 50th percentile of the set of all observations.

In [ ]:
#In the newly created dataset, the mean and median values of'median_income' are 4.005784 and 3.64705, respectively.

In [ ]:
#10.Please create a new column named total_bedroom_size. If size 10 or less. It should be quoted as small.
# If the size is 11 or more but 1000 less, it should be medium, otherwise it should be large.

import numpy as np
conditions = [
              (df['total_bedrooms'] <=10),
              (df['total_bedrooms'] >=11)&(df['total_bedrooms'] <=1000),
              (df['total_bedrooms'] > 1000)
             ]
values = ['small','medium','large']

df['total_bedroom_size']=np.select(conditions,values)

df

In [ ]:
#In the above data set a new column named total_bedroom_size had been added.

In [ ]:
#CONCLUSION: 
#1.Outliers can be found in housing_median_age and median_house_value in this dataset.  

#2.Except for ocean_proximity, which is of object datatype, all of the features in this dataset are of float type.

#3.The skewness value of housing_median_age is fairly symmetric (-0.5 to -0.1).

#4.As a result of the positive correlation, the plot of median_income vs median_house_values is directly proportional to each other.

#5.The relationship between latitude and longitude is inversely proportional, as increasing latitude causes a decrease in longitude.
#As a result, it has an inverse relationship.